<h2>Thêm sản phẩm mới</h2>

<form action="/add" method="POST">
  <div>
    <label>Name:</label>
    <input type="text" name="name" required />
  </div>

  <div>
    <label>Price:</label>
    <input type="number" name="price" />
  </div>

  <div>
    <label>Description:</label>
    <input type="text" name="description" />
  </div>

  <div>
    <label>Product:</label>
    <input type="text" name="product" />
  </div>

  <div>
    <label>Color:</label>
    <input type="text" name="color" />
  </div>

  <div>
    <label>Link image:</label>
    <input type="text" name="image" />
  </div>
  <button type="submit">Thêm sản phẩm</button>
</form>
